.ant-alert {
  margin-bottom: 20px;
  border: none;
  padding: 10px 20px !important;

  span {
    font-family: 'Poppins-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.01em;
    color: #192A3E;
  }
}