.card-bntp {
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  margin-bottom: 30px;

  .title-card {
    font-family: 'Poppins-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    letter-spacing: 0.01em;
    color: #192A3E;
  }

  .ant-card-body {
    padding: 15px 20px;
  }
}

.card-table {
  
  @media screen and (max-width: 600px){
    overflow-x: scroll;
  }

  .ant-card-body {
    padding: 0;

    .ant-table-thead {
      th {
        font-family: 'Poppins-Regular';
        background: none;
        padding: 14px 24px;
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        letter-spacing: 0.01em;
        color: #334D6E;
        opacity: 0.5;
      }
    }

    .ant-table-tbody {
      td {
        font-family: 'Poppins-Regular';
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        padding: 14px 24px;
        line-height: 19px;
        letter-spacing: 0.01em;
        color: #707683;
      }
    }
  }
}

.card-tab {
  .ant-card-body {
    padding: 0;

    .ant-tabs-nav {
      margin-bottom: 0;

      .ant-tabs-tab {
        padding: 12px 20px;
        margin: 0;

        .ant-tabs-tab-btn {
          font-family: 'Poppins-Regular';
          background: none;
          font-style: normal;
          font-weight: 600;
          font-size: 1rem;
          letter-spacing: 0.01em;
          color: #334D6E;
          opacity: 0.5;
        }
      }

      .ant-tabs-tab-active {
        padding: 12px 20px;
        margin: 0;

        .ant-tabs-tab-btn {
          font-family: 'Poppins-Medium';
          background: none;
          font-style: normal;
          font-weight: 600;
          font-size: 1rem;
          letter-spacing: 0.01em;
          color: #334D6E;
          opacity: 1;
        }
      }

      .ant-tabs-ink-bar {
        background: #334D6E;
      }
    }

    .ant-tabs-content-holder {
      padding: 12px 20px;
    }
  }
}