/// This file styles for font needed

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../../fonts/Roboto-Regular.ttf')
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../../fonts/Roboto-Bold.ttf')
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../../fonts/Roboto-Medium.ttf')
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../../fonts/Roboto-Bold.ttf')
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('../../fonts/Poppins-Regular.ttf')
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('../../fonts/Poppins-Bold.ttf')
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('../../fonts/Poppins-Medium.ttf')
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('../../fonts/Poppins-Bold.ttf')
}