.logo {
  background: #eee;
  margin: 16px;
  padding: 10px;
  position: relative;
  text-align: center;
}

.header-admin {
  background: #fff;
  padding: 10px 30px;

  .profile-section {
    float: right;
  }
}

.ant-layout-sider {
  box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);;

  span, a {
    font-family: 'Poppins-Medium';
    font-size: 1rem;
    font-weight: 500;
    color: #334D6E;
    letter-spacing: 0.01em;
    text-align: center;
  }
}

.ant-menu-item {
  font-weight: 500;
}

.ant-layout-content {
  .body {
    padding: 36px 30px;
  }
}